@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.header_menu{
    box-shadow: 0 5px 20px #eee;
    padding: 10px 0;
}
.header_menu li a{
    color: #3A78BC;
    transition: all .3s linear;
    font-size: 14px;
}
.header_menu li a:hover{
    color: #FF006D;
}
.first_color{
    color: #FF006D !important;
}
.second_color{
    color: #3A78BC !important;
}
.black{
    color: #000;
}
.fs-12{
    font-size: 12px;
}
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.header_h1{
    position: relative;
}
.mt-100{
    margin-top: 100px;
}
.pt-100{
    padding-top: 100px;
}
.mt-60{
    margin-top: 60px;
}
.pt-60{
    padding-top: 60px;
}
.my-100{
    margin: 100px 0;
}
.pl-50{
    padding-left: 100px !important;
}
.header_h1{
    font-size:54px;
}
.header_h1::before{
    content: '';
    position: absolute;
    width: 86px;
    height: 49px;
    background: url('img/delivery-icon.svg');
    top: -15px;
    left: -75px;
}
.header_btn{
    text-align: center;
    padding: 15px 40px;
    border-radius: 10px;
    background: #FF006D;
    border:none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    transition: all .2s linear;
}
.header_btn:hover{
    box-shadow: 0 10px 25px #ff006f77;
}

.telegram{
    color: #37AFE2;
}
.gif_col{
    overflow: hidden;
}
.gif{
    width: 80%;
    height: 80%;
    transform: scale(1.5);
    position: relative;
    left: -5%;
    /* transform: translate(-100px, 0); */
}
.item{
    width: 100%;
    height: 500px;
    border-radius: 30px;
    color: #fff;
}
.carusel_item_1{
    background: linear-gradient(100.49deg, #F8BF5B 1.62%, #D6647F 98.14%);
}
.carusel_item_2{
    background: linear-gradient(100.49deg, #1be163 1.62%, #9FF85B 98.14%);
}
.owl-next span,.owl-prev span{
    font-size: 100px;
}
.owl-dot{
    position: relative;
    bottom: 35px;
    left: 30px;
}
.aboutUs_btn{
    text-align: center;
    padding: 15px 40px;
    border-radius: 10px;
    background: #fff;
    border:none;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    transition: all .2s linear;
}
.active span{
    background: #201f1f;
}
.object_img{
    width: 130px;
}
.vector{
    position: absolute;
    width: 100%;
    height: 100%;
}
.object_row{
    position: relative !important;
    margin-top: 100px !important;
}
.animate_num_cont{
    background: linear-gradient(100.49deg, #8DBEF3 1.62%, #3A78BC 98.14%);
    border-radius: 30px;
    position: relative;
}
.animate_num_cont::after{
    content: "";
    position: absolute;
    width:400px;
    height: 300px;
    bottom: 0;
    right: 0;
    background: url('img/boxes.svg');
    background-repeat: no-repeat;
    background-size:500px;
    /* background-position: center; */
}
.costumer_row
{
    border-radius: 30px;
    box-shadow: 0 0 60px 0 #d5eaf1;
}
.logist_sign .form-control,
.logist_sign .form-select
{
    border: none;
    border-bottom: 1px solid #d6d6d6;
    border-radius: 0px;
    padding: 10px 0;
    font-size: 13px;
    outline: none;
    font-weight: bold !important;
}
.logist_sign .form-control::placeholder{
    font-weight: bold;
    color: #000;
}
.logist_sign .form-control:focus,
.logist_sign .form-select:focus
{
    border-bottom:1px solid #FF006D ;
    box-shadow: none;
}
.logist_type{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.logist_type_card{
    width: 100%;
    border: 1px solid transparent;
    border-radius: 15px;
}
.logist_type_card:focus
{
    border:1px solid #FF006D !important;
    /* box-shadow: none ; */
}
.logist_sign label{
    font-size: 13px;
}
.aboutUs_btn:hover{
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.product_about_header{
    background: #F6FAFF;
    border-radius: 30px 30px 0 0; 
}
.product_about_body{
    background: #F0F4FA;
}
.product_about_footer{
    background: #F0F4FA;
    border-radius: 0 0 30px 30px;
}
.owl-dot span{
    width: 60px;
    height: 3px;
    margin: 10px;
    display: block;
    background: #d6d6d6;
    transition: opacity .2s ease;
    border-radius: 3px;
}
.logist_type .col-4{
    border-radius: 10px;
}
.accordion-button:focus{
    box-shadow: none !important;
}
.accord_item{
    border-bottom:1px solid #FF006D !important;
}
.accordion-button:not(.collapsed){
    background: transparent !important;
    color: #FF006D !important;
}
.level_four_col h1{
    font-size: 150px;
}
.level_four_col p{
    margin-top: 20px;
    line-height: 35px;
    font-size: 18px;
}
.costumer_coment_card_img_star{
    width: 100px;
}
.costumer_coment_card{
    border-radius: 20px;
    box-shadow: 0 0 60px 0 #d5eaf1;
}
.card_header{
    box-shadow: 0 0 60px 0 #d5eaf1;
    border-radius: 30px;
}
.footer p{
    line-height: 35px;
}
@media screen and (max-width:992px) {
    .menu_li{
        border-bottom: 1px solid #f5f5f5;
    }
    .header_h1{
        font-size: 45px;
    }
    .header_content p{
        font-size: 11px;
    }
    .owl-dot{
        position: relative;
        bottom: 35px;
        left: 50%;
        transform: translateX(-100%);
    }
    .vector{
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotate(90deg);
        /* top:50% ; */
        /* bottom: 0; */
    }
    .animate_num_cont::after{
        display: none;
    }
}
@media screen and (max-width:768px) {
    .header_h1{
        font-size: 50px;
    }
    .header_content p{
        font-size: 14px;
    }
    .item{
        width: 100%;
        height: auto;
        border-radius: 30px;
        color: #fff;
        text-align: center;
    }
    .level_four_col h1{
        font-size: 100px;
    }
}
@media screen and (max-width:576px) {
    .header_h1::before{
        display: none;
    }
    .pl-50{
        padding-left: 20px !important;
    }
    .header_h1{
        font-size:45px;
    }
    .header_content p{
        font-size: 12px;
    }
    .level_four_col h1{
        font-size: 60px;
    }
    .logist_type{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}